<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css"
      integrity="sha384-QDSPDoVOoSWz2ypaRUidLmLYl4RyoBWI44iA5agn6jHegBxZkNqgm2eHb6yZ5bYs" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
<div class="jumbotron container text-center col-lg-8 col-lg-offset-3">
    <span class="text-danger"><strong>Log in</strong></span>
    <br>
    <br>
<form th:object="${user}" method="post" action="#" th:action="@{/logIN}">
    <span class="text-danger">Username</span>
   <input class="form-control" type="text" name="username" >
    <br>
    <span class="text-danger">Password</span>
    <input class="form-control" type="text" name="userpassword" >
    <br>
    <button type="submit"  class="btn btn-primary">Log in</button>
</form>
    <br>
   <!--<form action="/registerPage" method="get">
        <button class="btn btn-outline-primary float-left">Create new account</button>
    </form>-->
    <br>
    <form action="/" method="get">
        <button class="btn btn-outline-primary float-left">Back to start</button>
    </form>
</div>
</body>
</html>
